:root {
    --red: #ee6352;
    --blue: #4b8d9a;
    --grey: #bbbbbb;
    --height: 49.523vw;
    --width: 87vw;
}

.blue {
    background-color: var(--blue);
}

.red {
    background-color: var(--red);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    position: relative;
    overflow: hidden;
}


/* ---------- Text ---------- */

.center-fill {
    font-size: calc(49.523vw*0.02702702702);
    text-align: center;
    font-family: 'PT Mono bold', Monaco, monospace;
    font-weight: bold;
    color: #1e1e1e;
}

.center-fill h1 {
    font-size: 3.2em;
    margin: 0;
    margin-top: 5.94594594595%;
}

.is {
    font-size: 2em;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 17.5675675676%;
}

.se {
    font-size: 9em;
    line-height: 0.9em;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: scale(1, 1.05);
    -webkit-transform: scale(1, 1.05); /* Safari and Chrome */
    -moz-transform: scale(1, 1.05); /* Firefox */
    -ms-transform: scale(1, 1.05); /* IE 9+ */
    -o-transform: scale(1, 1.05); /* Opera */
}

.software {
    bottom: 50%;
}

.engineer {
    top: 50%;
}

.grad {
    font-size: 2.1em;
    position: relative;
    margin: 0;
    top: 55%;

}


/* ---------- Buttons ---------- */ 

a.blue {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

a.blue:hover {
    background-color: #396d75;
}

a.red {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

a.red:hover {
    background-color: #ac463a;
}

.image {
    margin: 0 auto;
    margin-top: 16%;
    height: 68%;
}

.button-group {
    position: absolute;
    bottom: 3.25%;
    height: 13.5%;
    width: 100%;
}

.button {
    display: inline-block;
    width: 11.8%;
    height: 100%;
    border-radius: 20%;
    margin: 0 9.5%;
}


/* ---------- Triangles (sides of hexagon) ---------- */

.triangle {
    width: 0;
    position: absolute;
    border-top: calc(49.523vw*0.5) solid transparent;
    border-bottom: calc(49.523vw*0.5) solid transparent;
}

.right-border {
    border-left: calc(87vw*0.16923) solid #1e1e1e;
    right:0;
}

.right-fill {
    border-left: calc(87vw*0.16923) solid #fff;
    right: calc(87vw*0.00923);
}

.left-border {
    border-right: calc(87vw*0.16923) solid #1e1e1e;
    left:0;
}

.left-fill {
    border-right: calc(87vw*0.16923) solid #fff;
    left: calc(87vw*0.00923);
}


/* ---------- Center text container ---------- */

.center-border {
    position: absolute;
    background-color: #1e1e1e;
    left: calc(87vw*0.16923);
    height: 49.523vw;
    width: calc(87vw*0.66153846153);
}

.center-fill {
    position: absolute;
    background-color: #fff;
    left: calc(87vw*0.17384615384);
    border-top: calc(49.523vw*0.01351351351) solid #1e1e1e;
    border-bottom: calc(49.523vw*0.01351351351) solid #1e1e1e;
    height: calc(49.523vw*0.97297297297);
    width: calc(87vw*0.6523076923);
}

#text-container {
    width: 87vw;
    height: 49.523vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------- Background colors ---------- */

.background {
    height: 3000px;
    width: 3000px;
    position: absolute;
}

.top-left {
    left: -1500px;
    bottom: 50%;
    transform: rotate(-59.265deg);
    transform-origin: 50% 100%;
}

.bottom-left {
    left: -1500px;
    top: 50%;
    transform: rotate(59.265deg);
    transform-origin: 50% 0%;
}

.top-right {
    bottom: 100%;
}

.bottom-right {
    bottom: 50%;
    right: -1500px;
    transform: rotate(59.265deg);
    transform-origin: 50% 100%;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
    .triangle {
        border-top: 185px solid transparent;
        border-bottom: 185px solid transparent;
    }

    .right-border {
        border-left: 110px solid #1e1e1e;
    }
    
    .right-fill {
        border-left: 110px solid #fff;
        right: 6px;
    }

    .left-border {
        border-right: 110px solid #1e1e1e;
    }
    
    .left-fill {
        border-right: 110px solid #fff;
        left:6px;
    }

    .center-border {
        left: 110px;
        height: 370px;
        width: 430px;
    }
    
    .center-fill {
        font-size: 10px;
        left: 113px;
        border-top: 5px solid #1e1e1e;
        border-bottom: 5px solid #1e1e1e;
        height: 360px;
        width: 424px;
    }

    #text-container {
        width: 650px;
        height: 370px;
    }
}